@import "tailwindcss";

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for Firefox */
html,
body {
	scrollbar-width: none;
	overflow-x: hidden;
}

@theme {
  --color-borderColor: oklch(55.4% 0.135 66.442);

  /* keyframes */
  @keyframes bounceX {
    0%, 100% {
      transform: translateX(0);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateX(-15px);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }

  /* animation shortcut */
  --animate-bounce-x: bounceX 1s infinite;
}

@layer components {
	.nav {
		@apply border-b-2 border-yellow-700 px-12 py-8 sticky inset-0 z-10 bg-white/90  backdrop-blur-xl;
	}
	.nav-items {
		@apply container mx-auto flex md:gap-10 gap-6 justify-between items-center md:items-baseline;
	}
}
